p {

    width: "2rem";
    height: "30px";
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
    
}

body{

    justify-content: center;
    align-items: center;
    background-color: rebeccapurple
}